<div style="height: 100vh; width: 100vw; display: flex; align-items: center; flex-direction: column;">
  {{#if isEnglish}}
    <embed src="/Conversion_Therapy_Declaration.pdf" type="application/pdf" width="100%" height="90%">
    <div style="margin-top: 20px;">
      <span>I am also a rabbi or rabbanit, who identifies with this document, and wish to sign my name </span><a
      href="mailto:RabbisAgainstConversionTherapy@gmail.com?subject=Please add my signature to the document against %22conversion therapy%22">on it.</a></div>
  {{else}}
    <embed src="/Conversion_Therapy_Declaration_Heb.pdf" type="application/pdf" width="100%" height="90%">
    </object>
    <div dir="rtl" style="margin-top: 20px;"><span>גם אני רב או רבנית, מזדהה עם המסמך הזה </span><a
      href="mailto:RabbisAgainstConversionTherapy@gmail.com?subject=נא להוסיף את חתימתי למסמך הרבנים והרבניות נגד %22טיפולי המרה%22">ורוצה
      לחתום</a><span> עליו.</span></div>
  {{/if}}
</div>
