{{#unless isMobile}}
  <div
    class="youtube-wrapper"
  >
    <iframe
      width="820"
      height="315"
      src="https://www.youtube.com/embed/uY4NEPt9C2U"
    >
    </iframe>
  </div>
  <div
    class="doc-wrapper is-hebrew"
  >
    <div class="blank-near-doc"></div>
    <iframe
      src="https://drive.google.com/file/d/1MRq99g3Ubd5CYC8lllGJU4ltlQyxfKTn/preview"
      width="820"
      height="100%"
      allow="autoplay"
    ></iframe>
    <div dir="rtl" class="signing-text">
      <div class="text-block">
        <span>אני רב או רבנית, מזדהה עם המסמך הזה </span><a
          href="mailto:RabbisAgainstConversionTherapy@gmail.com?subject=נא להוסיף את חתימתי למסמך הרבנים והרבניות נגד %22טיפולי המרה%22"
        >ורוצה לחתום</a><span> עליו.</span>
      </div>
    </div>
  </div>
{{/unless}}

{{#if isMobile}}
  <div class="is-mobile">
    <div
      class="youtube-wrapper"
    >
      <iframe
        width="820"
        height="315"
        src="https://www.youtube.com/embed/uY4NEPt9C2U"
      >
      </iframe>
    </div>
    <div class="mobile-view">
      <div class="blank-near-doc"></div>
      <iframe
        src="https://drive.google.com/file/d/1MRq99g3Ubd5CYC8lllGJU4ltlQyxfKTn/preview"
        width="820"
        height="100%"
        allow="autoplay"
      ></iframe>
      <div dir="rtl" class="signing-text">
      </div>
    </div>
    <div dir="rtl" class="text">
      <span>גם אני רב או רבנית, מזדהה עם המסמך הזה </span><a
        href="mailto:RabbisAgainstConversionTherapy@gmail.com?subject=נא להוסיף את חתימתי למסמך הרבנים והרבניות נגד %22טיפולי המרה%22"
      >ורוצה לחתום</a><span> עליו.</span>
    </div>
  </div>
{{/if}}
