{{#unless isMobile}}
  <div class="language-select"><a href="/">עברית</a></div>
  <div class="youtube-wrapper">
    <iframe
      width="88%"
      height="360"
      src="https://www.youtube.com/embed/DNJTNwC2k0w"
    ></iframe>
  </div>
  <div class="doc-wrapper">
    <div class="signing-text">
      <div class="text-block">
        <a
          class="download-as-pdf"
          href="https://drive.google.com/uc?export=download&id=1i3oJOBoQURVGt90Yhx4-XTV2XzL11ggb"
        >Download as PDF</a>
        <span><a href="mailto:RabbisAgainstConversionTherapy@gmail.com">
            Contact Us
          </a></span>
      </div>
    </div>
    <div class="document">
      <div id="content">
        <p dir="rtl"><span>בס"ד</span></p>
        <div class="title-wrapper">
          <p class="title"><strong>Prohibition Against Advising People to
              Attempt Conversion Therapy</strong></p>
        </div>
        <p>We, the undersigned rabbis and rabbaniyot, who are committed to
          <em>Halakha</em>,
          <em>kalla k’vahamura</em>
          (slight and grave obligations alike), believe that it is forbidden
          according to Halakhic principle and ethos, for anyone, including a
          rabbi, rabbanit, educator, or therapist to recommend to any person to
          undergo treatment for the purpose of changing a person’s sexual
          orientation, commonly known as “conversion therapy”.</p>
        <p>This is because conversion therapy is harmful, does not work, and
          because same-sex attraction is not a mental health problem.</p>
        <p class="no-indent">The details of our reasoning follow:</p>
        <ol start="1" type="1">
          <li><p><strong>1. The treatment is harmful</strong></p></li>
        </ol>
        <p>Any treatment where the purpose is to change a person’s sexual
          orientation is degrading and humiliating, and causes deep
          psychological harm. This harm is inherent to the treatment because the
          underlying assumption of the treatment is that the person, as they
          are, is undesirable, and as such it is incumbent upon them to replace
          their identity with something else.</p>
        <p>The treatment is based on strengthening the person’s feelings of
          shame, in order to encourage a change in behavior which is unnatural
          to the person. When the person’s sexual orientation does not change
          and their natural desires inevitably surface, the person experiences
          humiliation, feelings of helplessness and inadequacy due to the
          impossibility of changing one’s sexual orientation, overwhelming
          feelings of guilt, embarrassment, and self-loathing. These, in turn,
          lead to a tarnished self-image and extremely stressful psychological
          difficulties.</p>
        <p>In many cases, the results of the treatment are many years of
          unbearable psychological anxiety, depressive symptoms, social
          isolation, difficulties forming relationships, loss of trust in other
          people, self-hatred, and, in a significant number of cases, even
          suicidality.<a
            href="#fn1"
            class="footnote-ref"
            id="fnref1"
            role="doc-noteref"
          ><sup>1</sup></a>
          For these reasons, so-called conversion therapy has been outlawed in
          several Western countries, and has been rejected by leading health
          organizations around the world,<a
            href="#fn2"
            class="footnote-ref"
            id="fnref2"
            role="doc-noteref"
          ><sup>2</sup></a>
          including the American Psychiatric Association,<a
            href="#fn3"
            class="footnote-ref"
            id="fnref3"
            role="doc-noteref"
          ><sup>3</sup></a>
          the World Medical Association,<a
            href="#fn4"
            class="footnote-ref"
            id="fnref4"
            role="doc-noteref"
          ><sup>4</sup></a>
          the American Psychological Association,<a
            href="#fn5"
            class="footnote-ref"
            id="fnref5"
            role="doc-noteref"
          ><sup>5</sup></a>
          20 leading health, counselling and psychotherapy organizations in the
          UK, including the U.K. National Health Service and the Royal College
          of Psychiatrists,<a
            href="#fn6"
            class="footnote-ref"
            id="fnref6"
            role="doc-noteref"
          ><sup>6</sup></a>
          and the Israel Psychological Association.<a
            href="#fn7"
            class="footnote-ref"
            id="fnref7"
            role="doc-noteref"
          ><sup>7</sup></a>
          The specific interventions used to change the person’s behavior vary,
          including talking therapies, compelling the person to engage in
          outlandish forms of sexual behavior, strong medications and more — all
          are harmful.</p>
        <p>We emphasize that even therapists who claim that they don’t employ
          any behavioral method other than talking therapies — that is to say,
          they only speak with their client — cause great harm. Any treatment
          where the goal is to change the person’s sexual orientation, and the
          underlying assumption of the treatment is that being attracted to
          someone of the same gender is undesirable and should be changed, is
          harmful, no matter the intervention.</p>
        <p>Even an apparently innocent comment made by a rabbi, rabbanit,
          advisor, family member or friend, along the lines of “maybe it’s worth
          trying to change,” communicates a negative and harmful message.
          Bringing up the possibility is not a reasonable and responsible step
          to take, as the person suggesting it might imagine. The suggestion
          implies to the person asking for guidance that they are undesirable,
          and that if they are incapable of changing their sexual orientation,
          then their lives are little more than a surrender to negative
          qualities.</p>
        <p>Those who support so-called conversion therapy might be motivated by
          the belief that they are preventing people from sinning, and they may
          even delude themselves that there can sometimes be benefit to the
          treatment. However, even according to their own reasoning: is it
          permissible to recommend a mode of therapy that leads to suffering and
          sorrow, to depression and sometimes to suicide, when the scientific
          community maintains that there is no way that the treatment can work,
          and that the treatment is harmful?! Even if the treatment is carried
          out with the person’s apparent consent, so to speak, according to
          <em>Halakha</em>, “a person does not have ownership of themselves”,
          and consequently does not have permission to injure themselves or to
          allow another to injure them.</p>
        <p>Having said all this, it should be emphasized, that one should
          certainly refer someone to professional help if the person feels
          distress, as long as the solution to the distress is not an attempt to
          convert the person’s sexual orientation.</p>
        <p>Additionally, from the perspective of people who are attracted to
          others of the same gender, the very existence of so-called conversion
          therapy is a serious insult and a severe affront to their feelings, as
          the existence of such treatment implies that people with same sex
          orientation are undesirable to society, and undesirable before the
          Creator, G-d forbid.</p>
        <p>The Torah commands us to relate to every person as created
          <em>be’tzelem Elokim</em>, in the image of G-d, and degrading another
          person is defined as the sin of “<em>ona’at devarim</em>” (wounding a
          person’s feelings). It is difficult to imagine a greater denigration
          of a person’s
          <em>tzelem Elokim</em>
          than the degradation and suppression that bring many victims of
          so-called conversion therapy to the brink of suicide, self-harm, or to
          actually take their own lives.</p>
        <ol start="2" type="1">
          <li><p><strong>2. The treatment does not work</strong></p></li>
        </ol>
        <p>Conversion therapy, or any other treatment where the purpose is to
          change a person’s sexual orientation, is based on the belief that it
          is indeed possible to change a person’s sexual orientation. However,
          many studies report in an open and detailed manner, including the
          names of people who survived such treatments, that the treatments do
          not work at all.<a
            href="#fn8"
            class="footnote-ref"
            id="fnref8"
            role="doc-noteref"
          ><sup>8</sup></a></p>
        <p>There are advanced assessment methodologies that test an individual’s
          sexual orientation. For instance, instruments can track blood flow in
          the genital regions as a response to arousal or can map parts of the
          brain and track their activity in response to stimuli. These
          assessments, compared with similar assessments performed on
          heterosexual people, consistently demonstrate that a person’s sexual
          orientation does not change with treatment.
          <u>In every case</u>
          in which a person claimed that their sexual orientation had changed
          through treatment, and who then agreed to undergo a scientific test,
          these assessments indicated that their sexual orientation had not
          changed at all.<a
            href="#fn9"
            class="footnote-ref"
            id="fnref9"
            role="doc-noteref"
          ><sup>9</sup></a></p>
        <p>In contrast, there does not exist
          <u>a single peer-reviewed scientific study</u>
          which describes the success of any method of so-called conversion
          therapy, despite endless attempts to demonstrate efficacy. Any
          anecdotal information attesting to the success of so-called conversion
          therapy treatment is anonymous. As such, it is impossible to
          independently follow up with the patient or to verify facts.
          Furthermore, these attestations are almost always made by an
          individual or organization with a conflict of interest, such as a
          therapist who earns money from such treatments. The conclusion of the
          World Psychiatric Association from 2016 is unambiguous: “There is no
          sound scientific evidence that innate sexual orientation can be
          changed.”</p>
        <p>The entire field of so-called conversion therapy is pseudoscientific,
          that is, treatment whose results have never been substantiated by the
          scientific community, and it encourages false hopes in the patient,
          which will eventually result in deep disappointment.</p>
        <p>There are those who claim that one should not interfere with the free
          choice of a person who wants to change their sexual orientation.
          According to this claim, just as one should not stop a person who
          wants to change their external appearance through plastic surgery, one
          should not interfere with another person’s decision to change their
          sexual orientation. However, this comparison does not hold up to
          scrutiny, because if a person chooses to change the size of their
          nose, or to remove fat from their body, the surgery will succeed at
          accomplishing what they want. In contrast, conversion therapies do not
          change the sexual orientation of a person.</p>
        <p class="no-indent"><strong class="black-title">Maximal Possible
            “Success”: The Ability to Mechanically Perform</strong></p>
        <p>The best-case scenario that can be achieved through so-called
          conversion therapy, however infrequently, is that the person will find
          a way to perform during physical heterosexual relations. The goal of
          the treatment is to enable the person to go through the motions of
          physical union, and even be able to marry, despite the patient’s lack
          of attraction to their partner. Those who support these treatments
          claim that since there has been some success in doing this, it is
          incumbent on people who are attracted to others of the same gender to
          try.</p>
        <p>However, it is important to note that even in the rare case that the
          treatment succeeds on a purely physical/mechanical level, the person
          will never have desire towards people of a different gender to them;
          their longing for a romantic and intimate relationship with the same
          gender will remain unchanged, and that desire will never be satisfied
          or answered. Even worse, should the patient marry a person of a
          different gender to them, their partner will need to cope with being
          in a relationship where they are not and never will be desired – a
          marriage where their spouse is in the marriage only to appease their
          conscience or fulfill their religious obligation, not because he or
          she is attracted to them emotionally and/or physically. It is a
          relationship doomed to unbearable suffering from its inception.</p>
        <p>Therefore, if a person says that despite all evidence, they want to
          try such a treatment, one ought to warn them that in addition to the
          expected damage the treatment will cause, it will not change their
          sexual orientation. Additionally, one ought to warn them that even if
          they succeed in reaching a point where it is possible to perform
          sexually and consummate a marriage with a person of a different gender
          to them, it will be at the expense of having a relationship with
          desire and romantic attraction, and it will require coping with this
          huge sacrifice on the part of both partners, for the entire period of
          their relationship. Finally, such an individual is
          <em>Halakhically</em>
          obligated to inform the prospective marriage partner that they are
          entering such a relationship.</p>
        <p class="no-indent"><strong class="black-title"><em>Ona’at Mamon</em>
            (monetary exploitation)</strong></p>
        <p>Any therapist ought to clarify to the patient, from the outset of
          treatment, the likelihood of the treatment’s success and the best that
          can be hoped to achieve. According to
          <em>Halakha</em>, it is forbidden to lie or to bend the truth to cause
          a customer to purchase any item or service, and any such lie is a
          transgression of the prohibition of
          <em>ona’at mamon</em>. A rabbi or advisor who refers a person to
          so-called conversion therapy is engaging in
          <em>ona’at mamon</em>, because such treatment has never succeeded in
          changing a person’s sexual orientation.</p>
        <ol start="3" type="1">
          <li class="long-title"><p><strong>3. Same-sex attraction is not a
                mental health problem</strong></p></li>
          <p>There are those who believe that any sexual orientation that is not
            heterosexual is a disease or a perversion. This view is based on old
            social stigmas, and not on facts on the ground. Organizations for
            physical and mental health in Israel and around the world have
            stated that same-sex attraction is not a mental health problem.
            Homosexuality has not been considered a psychiatric disorder in the
            Diagnostic and Statistical Manual of Mental Disorders (DSM) since
            1973. Similarly, the Israel Psychological Association states that
            “LGBTQ+ identity is not the product of a psychological disorder,
            does not reflect a mental problem and does not constitute deviation.<a
              href="#fn10"
              class="footnote-ref"
              id="fnref10"
              role="doc-noteref"
            ><sup>10</sup></a>”</p>
          <p>For a person’s behavior to be considered a psychological disorder
            it must meet three criteria: (a) behaviors or thoughts that are
            anomalous in relation to what is accepted in society; (b) a drastic
            decrease in the patient’s ability to perform basic tasks; and (c)
            emotional distress. But most people who are attracted to others of
            the same gender are a functioning part of society and do not meet
            these criteria, and many have successfully achieved high
            accomplishments in all different sectors of life and society. While
            it is possible to find many people who are attracted to others of
            the same gender who suffer from emotional distress and/or
            psychological disorders, these are not caused directly by their
            sexual orientation. Rather, they are usually a result of the various
            traumas they endure by experiencing a lack of acceptance in their
            families and society at large. It seems clear, that were we to cease
            treating people who are attracted to others of the same gender in an
            insulting manner, the high rates of distress and psychological
            disorders among them would normalize to levels that approximate the
            general population.</p>
          <li><p><strong>Summary:</strong></p></li>
          <p>When a person who is attracted to others of the same gender seeks
            advice from a rabbi, rabbanit, educator, therapist, family member or
            friend, it is essential that the advisor respects the person as they
            are. Instead of telling a person who reveals their sexual
            orientation that they have the option of changing it, one must
            affirm them as they are, and insist that they are loved and accepted
            before the Creator and in the community, just like every other
            person. Attraction to others of the same gender, as such, does not
            require mental health intervention. Only if it becomes clear that
            the person requesting advice would benefit from emotional or mental
            health guidance for any of a wide range of other reasons, only then
            would it be appropriate to suggest they engage with a mental health
            professional.</p>
          <p>For decades, the scientific community has recognized that being
            attracted to people of the same gender does not require any
            treatment, that so-called conversion therapy does not work, and that
            such treatments cause immense suffering. It is also incumbent on
            every member of the religious Jewish community, to internalize that
            under no circumstances does
            <em>Halakha</em>
            permit one to recommend such false and harmful treatments. If the
            <em>mitzva</em>
            of “do not stand over the blood of your fellow” commands us to
            engage, and not to let others be harmed, how much more so is it
            forbidden to send those who come to us for advice, to serious harm.
            We must accept people attracted to others of the same gender with
            love. Not only do we not encourage sin by doing so, but in fact, we
            fulfill the
            <em>mitzva</em>
            “love your neighbor as yourself,” or as Hillel formulated it, “what
            is loathed by you – do not do to your friend!”</p>
          <li class="long-title"><p><strong>The 75 signatories (alphabetically):</strong></p></li>
          <table>
            <colgroup>
              <col style="width: 32%" />
              <col style="width: 30%" />
              <col style="width: 37%" />
            </colgroup>
            <thead>
              <tr class="header">
                <th><blockquote>
                    <p>Rabbi Dr. Jehoschua Ahrens</p>
                    <p>Rabbi Yitzhak Ajzner</p>
                    <p>Rabbi Dr. Shraga Bar-On</p>
                    <p>Rabbi Dr. David Bauman</p>
                    <p>Rabbi Nadav Berger</p>
                    <p>Rabbi Shimon Brand</p>
                    <p>Rabbi Shamir Caplan</p>
                    <p>Rabbi Elkana Cherlow</p>
                    <p>Rabbi Dr. Michael Chernick</p>
                    <p>Rabbi Eitan Cooper</p>
                    <p>Rabbi Chuck Davidson</p>
                    <p>Rabbi Barry Dolinger</p>
                    <p>Rabbanit Devorah Evron</p>
                    <p>Rabbi Steven Exler</p>
                    <p>Rabbi Dr. Zev Farber</p>
                    <p>Rabbi Dr. Reb Mimi Feigelson</p>
                    <p>Rabbi Baruch Finkelstein</p>
                    <p>Rabbi Jeffrey Fox</p>
                    <p>Rabbi Avidan Freedman</p>
                    <p>Rabbi Eitan Gavson</p>
                    <p>Rabbi Ralph Genende</p>
                    <p>Rabbi Daniel Geretz, BCCC</p>
                    <p>Rabbi Dr. Pinchas Giller</p>
                    <p>Rabbanit Nechama Goldman Barash</p>
                    <p>Rabbi Dr. Mel Gottlieb</p>
                  </blockquote></th>
                <th><blockquote>
                    <p>Rabbi Dr. Irving (Yitz)
                      <span dir="rtl"></span>Greenberg</p>
                    <p>Rabbi Steve Greenberg</p>
                    <p>Rabbi Dr. Meesh Hammer-Kossoy</p>
                    <p>Rabbi Herzl Hefter</p>
                    <p>Rabbi Prof. Tyson Herberger</p>
                    <p>Rabbi Avram H. Herzog</p>
                    <p>R. Dr. Avital Hochstein</p>
                    <p>Rabbi Dr. Aviad Hollander</p>
                    <p>Rabbanit Bracha Jaffe</p>
                    <p>Rabbi David Kalb</p>
                    <p>Rabbi Yosef Kanefsky</p>
                    <p>Rabbi Ysoscher Katz</p>
                    <p>Rabbanit Rahel Keren</p>
                    <p>Rabbi Shmuel Klitsner</p>
                    <p>Rabbi Dr. Eugene Korn</p>
                    <p>Rabbi Daniel Landes</p>
                    <p>Rabbi Michael Langer</p>
                    <p>Rabbi Steven Langnas</p>
                    <p>Rabbi Hayim Leiter</p>
                    <p>Rabbi Yehoshua Looks</p>
                    <p>Rabbi Asher Lopatin</p>
                    <p>Rabbanit Rivkah Lubitch</p>
                    <p>Rabbi Levi Mastrangelo</p>
                    <p>Rabbanit Idit Mevorach Shaag</p>
                    <p>Rabbi Mike Moskowitz</p>
                  </blockquote></th>
                <th><blockquote>
                    <p>Rabbi Dina Najman</p>
                    <p>Rabbi Haim Ovadia</p>
                    <p>Rabbi David Polsky</p>
                    <p>Rabbanit Devora Renert</p>
                    <p>Rabbi David Rosen</p>
                    <p>Rabbi Alan Rosenbaum</p>
                    <p>Rabbi Aviya Rozen</p>
                    <p>Rabbanit Tali Schaum Broder</p>
                    <p>Rabbi Hanan Schlesinger</p>
                    <p>Rabba Melissa Scholten-Gutierrez, MSW</p>
                    <p>Rabbanit Sarah Segal-Katz</p>
                    <p>Rabbi Chaim Seidler-Feller</p>
                    <p>Rabbanit Leah Shakdiel</p>
                    <p>Rabbanit Dr. Anat Sharbat</p>
                    <p>Rabbi Ami Silver, MSW</p>
                    <p>Rabbi Yair Silverman</p>
                    <p>Rabbi Daniel Silverstein</p>
                    <p>Rabbi Prof. Daniel Sperber</p>
                    <p>Rabbi Michael Stein</p>
                    <p>Rabbi Alana Suskin</p>
                    <p>Rabba Dr. Lindsey Taylor-Guthartz</p>
                    <p>Rabbi Dr. Boaz Tomsky</p>
                    <p>Rabbi Shaul Wieder, M.A.A.T</p>
                    <p>Rabbanit Yaara Wiedman Samuel</p>
                    <p>Rabbi Dr. Shmuly Yanklowitz</p>
                  </blockquote></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <li class="long-title"><p><strong>Endorsement of Professional
                Organizations:</strong></p></li></ol>
        <p>Additionally, we, senior certified professional sex therapists
          working in the fields of therapy and medicine, agree with the opinions
          expressed by the rabbis and rabbaniyot who have signed this document,
          from a professional standpoint, and add our signatures.</p>
        <ul>
          <li><p>Israeli Society for Sex Therapy (ISST)</p></li>
          <li><p>Israel Psychological Association</p></li>
          <li><p>Israeli Union of Social Workers</p></li>
          <li><p>The Israel Association for Couple and Family Therapy</p></li>
          <li><p>The Israeli Society for Sexual Medicine (ILSSM)</p></li>
          <li><p>Israeli Association for Creative Arts Therapies (YAHAT)</p></li>
        </ul>
        <p class="logos"><img src="/logos.jpg" /></p>
        <aside
          id="footnotes"
          class="footnotes footnotes-end-of-document"
          role="doc-endnotes"
        >
          <hr />

          <p>In order to save space and avoid overwhelming the reader, the
            endnotes below are not an exhaustive list of sources used to compile
            this paper, but only a sample of the abundant literature on the
            topic, referring mainly to summaries at the end of papers.</p>
          <p id="fn1"><a class="footnote" href="#fnref1"><sup>1</sup></a>
            American Psychological Association,
            <a
              href="https://www.apa.org/pi/lgbt/resources/therapeutic-response.pdf"
            >Task Force on Appropriate Therapeutic Responses to Sexual
              Orientation</a>. (2009), pp 41-3, 50-1 67-8.;<br />
            American Medical Association, Issue brief:
            <a
              href="https://www.ama-assn.org/system/files/2019-12/conversion-therapy-issue-brief.pdf"
            >LGBTQ change efforts (so-called “conversion therapy”)</a>;<br />
            Ryan, C., Toomey, R. B., Diaz, R. M., & Russell, S. T. (2020).
            <a
              href="https://doi.org/10.1080/00918369.2018.1538407"
            >Parent-initiated sexual orientation change efforts with LGBT
              adolescents: Implications for young adult mental health and
              adjustment</a>, Journal of Homosexuality, 67(2), pp. 8-10
          </p>
          <p id="fn2"><a class="footnote" href="#fnref2"><sup>2</sup></a>
            For an exhaustive list, see
            <a
              href="https://ilga.org/downloads/ILGA_World_Curbing_Deception_world_survey_legal_restrictions_conversion_
            therapy.pdf"
            >ILGA World: Curbing Deception: A world survey on legal regulation
              of so-called “conversion therapies”</a>, (2020), Annex 1
          </p>
          <p id="fn3"><a class="footnote" href="#fnref3"><sup>3</sup></a>
            <a
              style="margin-left: 5px"
              href="https://www.psychiatry.org/File%20Library/About-APA/Organization-Documents-Policies/Policies/Position
                    Conversion-Therapy.pdf"
            >American Psychiatric Association, Position, Statement on Conversion
              Therapy and LGBTQ Patients. 2018</a>
          </p>
          <p id="fn4"><a class="footnote" href="#fnref4"><sup>4</sup></a>
            World Medical Association,
            <a
              href="https://www.wma.net/policies-post/wma-statement-on-natural-variations-of-human-sexuality"
            >WMA Statement on Natural Variations of Human Sexuality</a>, 2013
          </p>
          <p id="fn5"><a class="footnote" href="#fnref5"><sup>5</sup></a>
            American Psychological Association,
            <a
              href="https://www.apa.org/pi/lgbt/resources/therapeutic-response.pdf"
            >Task Force on Appropriate Therapeutic Responses to Sexual
              Orientation</a>. (2009)</p>
          <p id="fn6"><a class="footnote" href="#fnref6"><sup>6</sup></a>
            <a
              href="https://www.bacp.co.uk/media/13265/memorandum-of-understanding-on-conversion-therapy-in-the-uk september-2021.pdf"
            >Memorandum of understanding on conversion therapy in the UK</a>.
          </p>
          <div id="fn7">
            <p style="margin-bottom: 0;" dir="rtl"><a
                class="footnote"
                href="#fnref7"
              ><sup>7</sup></a>
              הסתדרות הפסיכולוגים בישראל,
              <a
                href="https://www.health.gov.il/NewsAndEvents/SpokemanMesseges/Documents/05102014_1.pdf"
              >נייר עמדה בנושא טיפולי המרה</a>, נובמבר 2011
            </p>
            <p style="margin-top: 0;">Israel Psychological Association,
              <a
                href="https://www.health.gov.il/NewsAndEvents/SpokemanMesseges/Documents/05102014_1.pdf"
              >Position Paper on Conversion Therapies</a>, 2009,
            </p>
          </div>
          <p id="fn8"><a class="footnote" href="#fnref8"><sup>8</sup></a>
            Dehlin JP, Galliher RV, Bradshaw WS, Hyde DC, Crowell KA.
            <a href="https://psycnet.apa.org/record/2014-09735-001">Sexual
              orientation change efforts among current or former LDS church
              members</a>, Journal of Counseling Psychology, 62(2), 2015, pp
            101, 103-4. Lon B. Johnston PhD, LCSW & David Jenkins PhD, LCSW
            (2006)
            <a href="https://doi.org/10.1300/J200v04n03_04">Lesbians and Gay Men
              Embrace Their Sexual Orientation After Conversion Therapy and
              Ex-Gay Ministries</a>, Social Work in Mental Health, 4:3, p. 74-5<br
            />
            American Psychological Association,
            <a
              href="https://www.apa.org/pi/lgbt/resources/therapeutic-response.pdf"
            >Task Force on Appropriate Therapeutic Responses to Sexual
              Orientation</a>. (2009), pp 10-1.
          </p>
          <p id="fn9"><a class="footnote" href="#fnref9"><sup>9</sup></a>
            Bailey JM, Vasey PL, Diamond LM, Breedlove SM, Vilain E, Epprecht M.
            <a
              href="https://journals.sagepub.com/doi/pdf/10.1177/1529100616637616"
            >Sexual Orientation, Controversy, and Science. Psychological Science
              in the Public Interest</a>, 17(2), 2016, p.86.
          </p>
          <div id="fn10"><p style="margin-bottom: 0;" dir="rtl"><a
                class="footnote"
                href="#fnref10"
              ><sup>10</sup></a><a style="margin-right: 5px;"
                href="https://www.psychology.org.il/sites/psycho/UserContent/files/%D7%92%D7%99%D7%9C%D7%95%D7%99
            %20%D7%93%D7%A2%D7%AA-%D7%9C%D7%94%D7%98%D7%91_20_07_16.pdf"
              >
                גילוי דעת- התבטאויות לגבי להט"בים</a>, הסתדרות הפסיכולוגים
              בישראל, 2016
            </p><p style="margin-top: 0;"><a
                href="https://www.psychology.org.il/sites/psycho/UserContent/files/%D7%92%D7%99%D7%9C%D7%95%D7%99
            %20%D7%93%D7%A2%D7%AA-%D7%9C%D7%94%D7%98%D7%91_20_07_16.pdf"
              >Public Statement – Remarks regarding LGBTQ+ People</a>, Israel
              Psychological Association, 2016
            </p>
          </div>
        </aside>
      </div>
    </div>

    <div class="sign-wrapper">
      <div class="sign">
        <span>I am a rabbi or rabbanit, who identifies with this document, and
          wish to
        </span><a
          href="mailto:RabbisAgainstConversionTherapy@gmail.com?subject=Please add my signature to the document against %22conversion therapy%22"
        >sign my name</a><span> on it.</span>
      </div>
    </div>
  </div>
{{/unless}}

{{#if isMobile}}
  <div class="is-mobile">
    <div class="language-select heb"><a href="/">עברית</a></div>
    <div class="youtube-wrapper">
      <iframe
        width="70%"
        height="315"
        src="https://www.youtube.com/embed/DNJTNwC2k0w"
      >
      </iframe>
    </div>
    <div class="mobile-view">
      <div class="blank-near-doc"></div>
      <iframe
        src="https://drive.google.com/file/d/1hSm8rHPJTlbHkdUt-yJTjpix6eKZsiXX/preview"
        width="70%"
        height="100%"
        allow="autoplay"
      ></iframe>
      <div class="signing-text">
      </div>
    </div>
    <div class="text">
      <span>I am a rabbi or rabbanit, who identifies with this document, and
        wish to
      </span><a
        href="mailto:RabbisAgainstConversionTherapy@gmail.com?subject=Please add my signature to the document against %22conversion therapy%22"
      >sign my name</a><span> on it.</span><div class="border-line"></div>
      <span class="contact-us"><a
          href="mailto:RabbisAgainstConversionTherapy@gmail.com"
        >
          Contact Us
        </a></span>
    </div>
  </div>
{{/if}}
