{{#unless isMobile}}
  <div class="language-select"><a href="/">עברית</a></div>
  <div class="youtube-wrapper">
    <iframe
      width="820"
      height="315"
      src="https://www.youtube.com/embed/ungqKrPl5s8"
    >
    </iframe>
  </div>
  <div class="doc-wrapper">
    <div class="blank-near-doc"></div>
    <iframe
      src="https://drive.google.com/file/d/1d8zOROJu_1P5tAl98cAh5c5J2HXLgUeE/preview"
      width="820"
      height="100%"
      allow="autoplay"
    ></iframe>
    <div class="signing-text">
      <div class="text-block">
        <span>I am a rabbi or rabbanit, who identifies with this document, and
          wish to
        </span><a
          href="mailto:RabbisAgainstConversionTherapy@gmail.com?subject=Please add my signature to the document against %22conversion therapy%22"
        >sign my name</a><span> on it</span>
        <br /><br />
        <span><a href="mailto:RabbisAgainstConversionTherapy@gmail.com">
            Contact Us
          </a></span>
      </div>
    </div>
  </div>
{{/unless}}

{{#if isMobile}}
  <div class="is-mobile">
    <div class="language-select"><a href="/">עברית</a></div>
    <div class="youtube-wrapper">
      <iframe
        width="820"
        height="315"
        src="https://www.youtube.com/embed/ungqKrPl5s8"
      >
      </iframe>
    </div>
    <div class="mobile-view">
      <div class="blank-near-doc"></div>
      <iframe
        src="https://drive.google.com/file/d/1d8zOROJu_1P5tAl98cAh5c5J2HXLgUeE/preview"
        width="820"
        height="100%"
        allow="autoplay"
      ></iframe>
      <div class="signing-text">
      </div>
    </div>
    <div class="text">
      <span>I am a rabbi or rabbanit, who identifies with this document, and
        wish to
      </span><a
        href="mailto:RabbisAgainstConversionTherapy@gmail.com?subject=Please add my signature to the document against %22conversion therapy%22"
      >sign my name</a><span> on it</span>
      <br /><br />
      <span><a href="mailto:RabbisAgainstConversionTherapy@gmail.com">
          Contact Us
        </a></span>
    </div>
  </div>
{{/if}}
