{{#unless isMobile}}
  {{#if isEnglish}}
    <div style="height: 100vh; width: 100vw; display: flex">
      <div style="display: block; flex: 1"></div>
      <iframe src="https://drive.google.com/file/d/1Uxtrr7AI78cHIEBHZ73rk-IkDqSJU1JD/preview" width="820" height="100%"
              allow="autoplay"></iframe>
      <div
        class="signing-text">
        <div class="text-block">
          <span>I am also a rabbi or rabbanit, who identifies with this document, and wish to </span><a
          href="mailto:RabbisAgainstConversionTherapy@gmail.com?subject=Please add my signature to the document against %22conversion therapy%22">sign
          my name </a><span>on it</span>
        </div>
      </div>
    </div>
  {{else}}
    <div class="is-hebrew" style="height: 100vh; width: 100vw; display: flex; flex-direction: row-reverse">
      <div style="display: block; flex: 1"></div>
      <iframe src="https://drive.google.com/file/d/1-eUkc7uBDOPtJmSjIxK1aAalY7X8p_jl/preview" width="820" height="100%"
              allow="autoplay"></iframe>
      <div dir="rtl" class="signing-text">
        <div class="text-block">
          <span>גם אני רב או רבנית, מזדהה עם המסמך הזה </span><a
          href="mailto:RabbisAgainstConversionTherapy@gmail.com?subject=נא להוסיף את חתימתי למסמך הרבנים והרבניות נגד %22טיפולי המרה%22">ורוצה
          לחתום</a><span> עליו.</span>
        </div>
      </div>
    </div>
  {{/if}}
{{/unless}}

{{#if isMobile}}
  <div class="is-mobile">
    {{#if isEnglish}}
      <div class="mobile-view">
        <div style="display: block; flex: 1"></div>
        <iframe src="https://drive.google.com/file/d/1Uxtrr7AI78cHIEBHZ73rk-IkDqSJU1JD/preview" width="820"
                height="100%"
                allow="autoplay"></iframe>
        <div
          class="signing-text">
        </div>
      </div>
      <div
        class="text">
        <span>I am also a rabbi or rabbanit, who identifies with this document, and wish to </span><a
        href="mailto:RabbisAgainstConversionTherapy@gmail.com?subject=Please add my signature to the document against %22conversion therapy%22">sign
        my name </a><span>on it</span>
      </div>
    {{else}}
      <div class="mobile-view">
        <div style="display: block; flex: 1"></div>
        <iframe src="https://drive.google.com/file/d/1-eUkc7uBDOPtJmSjIxK1aAalY7X8p_jl/preview" width="820"
                height="100%"
                allow="autoplay"></iframe>
        <div dir="rtl" class="signing-text">
        </div>
      </div>
      <div dir="rtl" class="text">
        <span>גם אני רב או רבנית, מזדהה עם המסמך הזה </span><a
        href="mailto:RabbisAgainstConversionTherapy@gmail.com?subject=נא להוסיף את חתימתי למסמך הרבנים והרבניות נגד %22טיפולי המרה%22">ורוצה
        לחתום</a><span> עליו.</span>
      </div>
    {{/if}}
  </div>
{{/if}}

