{{#unless isMobile}}
  <div class="language-select"><a href="/">עברית</a></div>
  <div class="youtube-wrapper">
    <iframe
      width="50%"
      height="315"
      src="https://www.youtube.com/embed/DNJTNwC2k0w"
    ></iframe>
  </div>
  </div>
  <div class="doc-wrapper">
    <div class="signing-text">
      <div class="text-block">
        <span><a href="mailto:RabbisAgainstConversionTherapy@gmail.com">
            Contact Us
          </a></span>
      </div>
    </div>
    <iframe
      src="https://drive.google.com/file/d/1hSm8rHPJTlbHkdUt-yJTjpix6eKZsiXX/preview"
      width="50%"
      height="100%"
      allow="autoplay"
    ></iframe>
    <div class="sign-wrapper">
      <div class="sign">
        <span>I am a rabbi or rabbanit, who identifies with this document, and
          wish to
        </span><a
          href="mailto:RabbisAgainstConversionTherapy@gmail.com?subject=Please add my signature to the document against %22conversion therapy%22"
        >sign my name</a><span> on it.</span>
      </div>
    </div>
  </div>
{{/unless}}

{{#if isMobile}}
  <div class="is-mobile">
    <div class="language-select heb"><a href="/">עברית</a></div>
    <div class="youtube-wrapper">
      <iframe
        width="70%"
        height="315"
        src="https://www.youtube.com/embed/DNJTNwC2k0w"
      >
      </iframe>
    </div>
    <div class="mobile-view">
      <div class="blank-near-doc"></div>
      <iframe
        src="https://drive.google.com/file/d/1hSm8rHPJTlbHkdUt-yJTjpix6eKZsiXX/preview"
        width="70%"
        height="100%"
        allow="autoplay"
      ></iframe>
      <div class="signing-text">
      </div>
    </div>
    <div class="text">
      <span>I am a rabbi or rabbanit, who identifies with this document, and
        wish to
      </span><a
        href="mailto:RabbisAgainstConversionTherapy@gmail.com?subject=Please add my signature to the document against %22conversion therapy%22"
      >sign my name</a><span> on it.</span><div class="border-line"></div>
      <span class="contact-us"><a
          href="mailto:RabbisAgainstConversionTherapy@gmail.com"
        >
          Contact Us
        </a></span>
    </div>
  </div>
{{/if}}
