<div style="height: 80vh; display: flex; align-items: center; flex-direction: column">
  {{#if isEnglish}}
    <iframe src="https://drive.google.com/file/d/1HNtS7ZMMXp78qw7AIlOAlwI2hFPXF2Zi/preview" width="640" height="480"
            allow="autoplay"></iframe>
    <div style="margin-top: 20px">
      <span>I am also a rabbi or rabbanit, who identifies with this document, and wish to </span><a
      href="mailto:RabbisAgainstConversionTherapy@gmail.com">sign my name.</a></div>
  {{else}}
    <iframe src="https://drive.google.com/file/d/1GtgKtvtycWdusJGkU4zifDWgvamQusri/preview" width="640" height="480"
            allow="autoplay"></iframe>
    <div dir="rtl" style="margin-top: 20px"><span>גם אני רב או רבנית, מזדהה עם המסמך הזה </span><a
      href="mailto:RabbisAgainstConversionTherapy@gmail.com">ורוצה לחתום.</a></div>
  {{/if}}
</div>
